<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login in my site</title>
</head>
<body>
<div class="login-form">
    <form method="post" action="/successUser">
        <h2>Вход в систему</h2>
        <p>
            <label for="name">Username</label>
            <input type="text" id="name" class="login-area" name="name" required>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" id="password" class="login-area" name="password" required>
        </p>
        <button class="btn-sbmt" type="submit">Вход</button>
    </form>
</div>
</body>
</html>